{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div id="header">
    <ul><h1>Login</h1></ul>
</div>

<div id="middle">
   <ul>
       <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <button type="submit">Login</button>
        </p>
        <input type="hidden" name="next" value="{{next}}"/>
        </form>

       <a href="{% url 'password_reset' %}"><button>Forgot password?</button></a>
   </ul>
</div>

<div id="bottom"></div>