{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<div id="header">
    {% if messages %}
    <ul class="messages">
        {% for msg in messages %}
        <h1>{{ msg }}</h1>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div id="middle">
    {% if user.username %}
    <div id="user-bar">
        <ul>
            Current user: {{ user.first_name }}
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </ul>
    </div>
    {% else %}
        <ul><a href="{% url 'login' %}"><button>Login</button></a></ul>
    {% endif %}
    <div id="items_list">
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <p>
                {{ question.question_text }}
                {% if question.can_vote %}
                <a href="{% url 'polls:detail' question.id %}"><button>vote</button></a>
                {% endif %}
                <a href="{% url 'polls:results' question.id %}"><button>results</button></a>
            </p>
            {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    </div>
</div>

<div id="bottom"></div>
